.post-detail {
    margin: 0 30px;
}

.detail-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.detail-title {
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 0;
}

.detail-writer {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 0;
}

.detail-role {
    font-size: 16px;
    margin-bottom: 0;
}

.detail-date {
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: auto;
    color: #A2A2A2;
}

.post-detail hr {
    border: 1px solid #407EFE;
}

.detail-hr {
    background-color: #407EFE;
    height: 1px;
}

.detail-container {
    display: flex;
    flex-direction: column;
}

.detail-modify-del {
    display: flex;
    flex-direction: row;
    color:#A2A2A2;
    margin-left: auto;
    font-size: 14px;
}

.detail-modify,
.detail-del {
    cursor: pointer;
}

.detail-content {
    text-align: left;
    margin: 10px;
}

.goboard-btn {
    text-align: right;
    margin-bottom: 10px;
}

.detail-goboard-btn {
    background-color: #407EFE;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.detail-lower-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-click-cnt {
    display: flex;
    flex-direction: row;
    
}

.cnt-click {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cnt-click p {
    margin: 0;
    padding-right: 10px;
    padding-left: 5px;
}